<html>
	<!-- Copyright by Nate Sutton 2013
	This page welcomes users to the site and gives an initial orientation about
	what this site is for.

	References:
	Some code used from http://www.html.am/html-codes/tables/table-border.cfm -->
	<head>
		<link href="StaticResources/css/welcome.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body bgcolor="#E3EFFF">
		<center>
			<h1>
			<table class="SiteDescriptionTable">
				<thead>
					<td>
					<br>
					<div style="font-size: 1.7em;">
						<center>
							Welcome to this sample genetic experiment analysis site!
						</center>
					</div>
					<br>
					<br>
					</td>
				</thead>
				<tr>
					<td>
					<div style="text-shadow: 0 0px 0 white; font-family: 'arial'; font-size: 1.2em;">
						<center>
							This site is for displaying some methods of presenting and interacting with
							genetic experiment results.
							For geneticists, biologists, and public consumers with interests in genetics this displays some ways to retrieve and investigate results
							from genetic experiments.  A concept behind this work is that experiments can be run at remote computers and individuals can receive results
							anywhere through the web.
							<br>
							<br>
							Please use the navigation bar at the to explore some of the site's features!  Some future work includes providing a user friendly and
							internet accessible way for users to create new types of experiments with custom datasets they provide.  Private secure access to uploaded
							data is a future feature being considered as well.
							<br>
							<br>
							This application provides a front end for users based on html, javascript, and css. In the back end, the Django python web framework is utilized to integrate python functionality into the site. This application is built through python and includes features based on the matplotlib graphics library. The genetic data used in this site is stored in a MySQL database and accessed through the use of the mysqldb python library and django's database interaction capabilities.
						</center>
					</div></td>
				</tr>
			</table>
			<br>
			<br>
			<br>
			<table>
				<tr>
					<td></td>
				</tr>
			</table></h1>
		</center>
